.historyCon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.searchCon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-bottom: 3px solid #01977a;
    padding: 0 8px;
    margin: 0 0 10px 0;
}

.searchpayment {
    outline: none;
    border: none;
    padding: 5px 0;
    font-family: 'Poppins', sans-serif;

}


.searchpayment::placeholder {
    color: #989898;
    font-style: italic;
}


.printBtn {
    border: none;
    background: #01987a;
    color: white;
    padding: 4px 27px;
    font-size: 17px;
    border-radius: 2px;
    margin: 13px 0 0 0;
    border: 1px solid #01977a;
    cursor: pointer;
    transition: 0.3s;
}


.printBtn:hover {
    border: 1px solid #01977a;
    background-color: transparent;
    color: #01977a;

}


@media screen and (max-width: 475px) {
    .tableContainer {
        width: 95%;
        margin: auto;
        overflow-x: auto;

    }
}

@media screen and (min-width: 475px) and (max-width: 750px) {
    .paymentEmail {
        display: none;
    }
}

@media screen and (min-width: 1921px) {}