.sideBarContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 32px;
}

.dashLogo {
    width: fit-content;
}

.dashBoardLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

.dashBoardLinks .dashLink {
    font-size: 23px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: #757575;
    width: calc(100% - 10px);
    padding: 6px 5px;

}

.dashBoardLinks .active {
    background-color: #ff1959;
    color: white;

}


.aditionalLinks {

    border-top: 1px solid #757575;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0 0 6px;
    font-size: 22px;
    color: #757575;
}


.aditionalLinks a {
    color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}



@media screen and (max-width: 400px) {}

@media screen and (min-width: 401px) and (max-width: 720px) {}

@media screen and (min-width: 721px) and (max-width: 1280px) {}

@media screen and (min-width: 400px) and (max-width: 1167px) {}

@media screen and (min-width: 1167px) and (max-width: 1465px) {
    .sidebarWrapper {
        width: 200px;
    }

    .logo img {
        width: 75px;
    }

    .dashBoardLinks .dashLink {
        font-size: 16px;
    }
}

@media screen and (min-width: 1921px) {}