.apartmentsCon {
    min-height: 80vh;
    padding: 100px 0;
}

.apartmentsCards {

    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 20px;
    justify-content: center;
}

.paginationBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 53px 0 0 0;
}

.paginationBtns .pageActive {
    background: #ff1959;
    border: none;
    width: 30px;
    height: 30px;
    /* padding: 4px 0; */
    color: white;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.paginationBtns .pageNotActive {
    background: #ff87a8;
    border: none;
    width: 30px;
    height: 30px;
    /* padding: 4px 0; */
    color: white;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
}



@media screen and (max-width: 400px) {
    .apartmentsCards {
        grid-template-columns: repeat(1, 350px);
    }
}

@media screen and (min-width: 401px) and (max-width: 720px) {}

@media screen and (min-width: 721px) and (max-width: 1280px) {}

@media screen and (min-width: 400px) and (max-width: 745px) {
    .apartmentsCards {
        grid-template-columns: repeat(1, 350px);
    }
}

@media screen and (min-width: 745px) and (max-width: 1117px) {
    .apartmentsCards {
        grid-template-columns: repeat(2, 350px);
    }
}

@media screen and (min-width: 1921px) {}