.adminCard {
    width: 405px;
    background: white;
    height: 183px;
    border-radius: 8px;
    padding: 23px 22px;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.adminProfileTop {
    display: flex;
    justify-content: center;
    gap: 34px;
    width: fit-content;
    margin: auto;
}

.adminImgBox {
    width: 70px;
    height: 70px;
    overflow: hidden;
    overflow: hidden;
    border-radius: 50%;
}

.adminImgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.adminName {
    font-size: 27px;
    color: #ff1959;

}

.adminEmail {
    font-size: 18px;
    color: #626262;
}

#adminShape {
    right: -305px;
    top: -193px;
}

.dashCard {
    width: 405px;
    height: 183px;
    border-radius: 8px;
    padding: 23px 22px;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


.dashCard h1 {
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dashCard p {
    font-size: 55px;

}

.bookedRoom {
    background: #ff4579;
    color: white;
    /* position: relative;
    overflow: hidden;
    z-index: 2; */
}

.roomAvailable {
    background-color: #6f9ada;
    color: white;
}

.adminProfileMid {
    width: 1415px;
    background-color: white;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
    height: 260px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.circle {
    width: 185px;
    height: 185px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 29px;

}

.totalUser {
    background: white;
    color: rgb(0, 0, 0);
    border: 10px solid #d8d8d8;
    border-top: 10px solid #da1b1b;
    border-left: 10px solid #da1b1b;
    border-bottom: 10px solid #da1b1b;
}

.totalMember {
    background: white;
    color: rgb(0, 0, 0);
    border: 10px solid #d8d8d8;
    border-bottom: 10px solid #1bda9c;
}

.totalRoom {
    background: white;
    color: rgb(0, 0, 0);
    border: 10px solid #d8d8d8;
    border-top: 10px solid #5070c2;
    border-bottom: 10px solid #5070c2;
    border-left: 10px solid #5070c2;
}


@media screen and (max-width: 465px) {
    .adminCard {
        width: 85%;
    }

    .dashCard {
        width: 85%;
    }

    .roomAvailable h1 {
        font-size: 36px !important;
    }

    .adminProfileMid {
        width: 90%;
        flex-direction: column;
        height: 550px;
    }

    .adminProfileTop {
        flex-wrap: wrap;
    }



    #adminShape {
        display: none;
    }

    .circle {
        width: 100px;
        height: 100px;
        font-size: 16px;
    }
}

@media screen and (min-width: 465px) and (max-width: 640px) {
    .adminCard {
        width: 90%;
    }

    .dashCard {
        width: 90%;
    }

    .roomAvailable h1 {
        font-size: 36px !important;
    }

    .adminProfileMid {
        width: 90%;
    }

    .adminProfileTop {
        flex-wrap: wrap;
    }



    #adminShape {
        display: none;
    }

    .circle {
        width: 100px;
        height: 100px;
        font-size: 16px;
    }
}

@media screen and (min-width: 640px) and (max-width: 985px) {
    .adminCard {
        width: 250px;
    }

    .dashCard {
        width: 250px;
    }

    .roomAvailable h1 {
        font-size: 36px !important;
    }

    .adminProfileMid {
        width: 570px;
    }

    .adminProfileTop {
        flex-wrap: wrap;
    }

    .roomAvailable {
        width: 571px !important;
    }

    #adminShape {
        display: none;
    }

    .circle {
        width: 100px;
        height: 100px;
        font-size: 16px;
    }
}

@media screen and (min-width: 985px) and (max-width: 1350px) {
    .adminCard {
        width: 250px;
    }

    .dashCard {
        width: 250px;
    }

    .roomAvailable h1 {
        font-size: 36px !important;
    }

    .adminProfileMid {
        width: 950px;
    }
}

@media screen and (min-width: 1350px) and (max-width: 1783px) {
    .adminCard {
        width: 300px;
    }

    .dashCard {
        width: 300px;
    }

    .roomAvailable h1 {
        font-size: 36px !important;
    }

    .adminProfileMid {
        width: 1100px;
    }
}

@media screen and (min-width: 1921px) {}