.couponWrapper {
    padding: 0 0 100px 0;
}

.couponCon {
    display: grid;
    grid-template-columns: repeat(3, 192px);
    width: fit-content;
    margin: 55px auto 0 auto;
    gap: 30px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.wrapper img {
    width: 200px;
}

@media screen and (max-width: 440px) {
    .couponCon {
        grid-template-columns: repeat(1, 332px);
    }
}

@media screen and (min-width: 440px) and (max-width: 670px) {
    .couponCon {
        grid-template-columns: repeat(2, 192px);
    }
}

@media screen and (min-width: 1921px) {}