@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@400;500;600;700&display=swap');

/* font-family: 'Marhey', sans-serif; */


nav {
    background: #ffffff;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navWrapper {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navLinks ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-right: 1px solid #242424;
    padding: 0 20px 0 0;
}


.navLinks ul li .navLink {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #20263c;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;

}

.navLinks ul li .active {
    color: #ff1959;
    position: relative;
}

.navLinks ul li .active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    left: 0;
    bottom: -6px;
    background-color: #ff1959;
}



.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    line-height: 1;
    font-family: 'Marhey', sans-serif;
    color: #20263c;
}

.logo img {
    width: 100px;
}

.logo span {
    color: #ff1959;
}

.logInBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    border: 1px solid black;
    padding: 4px 7px;
    border-radius: 3px;
    cursor: pointer;

}


.userBox {
    position: relative;
}

.userImg {

    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgb(255, 111, 111);
    padding: 3px;
    cursor: pointer;


}

.userImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}


.userModal {
    width: 148px;
    position: absolute;
    z-index: 99;
    background: white;
    padding: 16px 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 2px 16.8px 3.2px #00040824;
    right: -10px;
    top: 56px;
}


.userModal h3 {
    color: #ff2662;
    font-size: 21px;
}


.userModal button {
    padding: 5px 10px;
    border: none;
    color: white;
    font-size: 15px;
    background: #ff8181;
    cursor: pointer;
    margin: 17px 0 0 0;
}

.smallDeviceNav {
    display: none;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.smallLinks {
    font-size: 18px;
    margin: 3px 0;
}


.smalluser {
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-color: #ff2662;
    padding: 3px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smalluser button {
    padding: 4px 12px;
    border: none;
    background: red;
    color: white;
    cursor: pointer;
}

.smalluser img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}



.miniActive {
    text-decoration: underline;
}


.popUpLinksCon {
    width: 200px;
    position: absolute;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 99;
    padding: 23px 12px;
    top: 32px;
    border-radius: 7px;
    box-shadow: 0 2px 16.8px 3.2px #4a4a4a4f;
}

.popUpLinksCon button {
    border: none;
    background: #ff2662;
    color: white;
    padding: 5px 6px;
    font-size: 16px;
    margin: 25px 0 0 0;
}



.smallLogin {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 600px) {
    .navWrapper {
        display: none;
    }

    .smallDeviceNav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        font-size: 31px;
        padding: 3px 24px;
        color: #ff4c7e;
    }
}