.dashCon {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    font-family: 'Poppins', sans-serif;


}

.sidebarWrapper {
    width: 310px;
    background: rgb(246, 246, 246);
    height: 100vh;
}

.outlets {
    width: calc(100vw - 310px);
    min-height: 100vh;
}